name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy Code
        run: |
            cd /var/www/your-project
            git pull origin main
            npm install
            npm run dev
          EOF
